.custom-card {
  border-radius: 10px;
  border: none;
  // box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background-color: white;

  &:hover {
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  }
}


.card-img-top {
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: none;
  // box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.card-body {
  background-color: white;
}

.small-text {
  font-size: 0.8em;
}

.text-grey {
  color: grey;
}

.no-wrap {
  white-space: nowrap;
}

.custom-btn {
  background-color: #634623;

  &:hover {
    background-color: #ad7a3d;
  }
}
