<div class="container d-flex w-50 flex-column pt-3">
  <h1>Showing Results for "<%= @query %>"</h1>
  <%= link_to '〈 See All Vehicles', vehicles_url, class: "col-lg-4 col-sm-12 my-2 fs-5 btn btn-secondary text-white text-shadow d-flex align-items-center justify-content-center" %>

  <%= render 'partials/listings', listings: @listings %>
</div>
