// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.text-shadow {
  text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.33);
}

.bg-wood {
  background-color: #000000;
  background-image: url(https://cdn.architextures.org/textures/20/08/dark-stained-timber-hexagonal-5f2be1dd67833-1200.jpg);
  background-repeat: repeat;
  background-size: 10vmin;
}
