// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.main-bg {
  background-position: bottom; background-repeat: no-repeat; background-size: contain;
  background-attachment: scroll;
}

.text-shadow {
  text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.33);
}

.star-rating .rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.star-rating .star {
  font-size: 1.5em;
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
}

.star-rating .star:last-child {
  margin-right: 0;
}

.star-rating .rating-star:checked ~ .star {
  color: #ffd700; /* Gold color for filled stars */
}
